{% extends 'template.html' %}

{% block head %}
<title>Update Sample Concentration</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Results</h1>
    <style>
        table {
          border-collapse: collapse;
        }
        th, td {
          border: 1px solid #ccc;
          padding: 10px;
          text-align: left;
        }
        tr:nth-child(even) {
          background-color: #eee;
        }
        tr:nth-child(odd) {
          background-color: #fff;
        }            
      </style>
      
        <table>
          <tr>
            <th>Sample Number</th>
            <th>Sample ID</th>
            <th>Concentration</th>
            <th>Count</th>
          </tr>
        {% for item in dict_list %}
          <TR>
            <TD header="th" TD class="c1">{{item.num}}</TD>
            <TD header="th" TD class="c2">{{item.ID}}</TD>
            <TD header="th" td style="text-align: right" TD class="c3">{{item.conc}}</TD>
            <TD header="th" TD class="c4">{{item.ct}}</TD>
          </TR>
        {% endfor %}
        </table>
    <div class="form">
    </div>
</div>
{% endblock %}